<div class="mainwindow" *ngIf="auth.user$ | async as user">
  <div class="container">
    <div class="row" >
      <div class="col-md-3"> </div>
      <div class="col-md-6"><div class="loginbox"><p class="display-4" style="color:black;font-size: 30px;">Welcome to your CV Maker</p></div></div>
      <div class="col-md-3"> </div>
    </div>
    <div class="row" style="margin-top: -100px">
      <div class="col-md-3"> </div>
      <div class="col-md-6"><div class="loginbox"><h1 class="display-3" style="color:black">{{user.displayName}}</h1></div></div>
      <div class="col-md-3">    <button class="btn btn-outline-primary" (click)="auth.signOut()">Sign Out</button> </div>
    </div>
    <form [formGroup]="profileform" class="was-validated" >
      <div class="form-group">
      <label class="name">
        Birthdate
      <input type="date" formControlName="birthdate" class="form-control" required="">
        <div class="invalid-feedback">Please select your birthdate</div>
      </label>
      </div>
      <div class="form-group">
        <label class="name">
          Gender
          <div class="form-group">
            <select formControlName="gender" class="form-control" required="">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
            <div class="invalid-feedback">Please select your Gender</div>
          </div>
        </label>
      </div>
      <div class="row">
        <div class="col-md-4">
      <div class="form-group">
        <label class="name">
          Skill 1:
          <input type="text" formControlName="skill1" class="form-control" >
        </label>
      </div>
        </div>
        <div class="col-md-4">
      <div class="form-group">
        <label class="name">
          Skill 2:
          <input type="text" formControlName="skill2" class="form-control" >
        </label>
      </div>
        </div>
        <div class="col-md-4">
      <div class="form-group">
        <label class="name">
          Skill 3:
          <input type="text" formControlName="skill3" class="form-control" >
        </label>
      </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="name">
              Achievement 1:
              <input type="text" formControlName="achievement1" class="form-control" >
            </label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="name">
              Achievement 2:
              <input type="text" formControlName="achievement2" class="form-control">
            </label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="name">
              Achievement 3:
              <input type="text" formControlName="achievement3" class="form-control">
            </label>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="name">
              Education 1:
              <input type="text" formControlName="education1" class="form-control" >
            </label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="name">
              Education 2:
              <input type="text" formControlName="education2" class="form-control">
            </label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="name">
              Education 3:
              <input type="text" formControlName="education3" class="form-control" >
            </label>
          </div>
        </div>
      </div>

      <button class="btn btn-outline-primary" *ngIf="profileform.valid; else notvalidblock" (click)="submit(user,profileform.get('birthdate').value,profileform.get('gender').value,profileform.get('skill1').value,profileform.get('skill2').value,profileform.get('skill3').value,profileform.get('achievement1').value,profileform.get('achievement2').value,profileform.get('achievement3').value,profileform.get('education1').value,profileform.get('education2').value,profileform.get('education3').value)" [disabled]="!profileform.valid">Submit</button>
    </form>

<ng-template #notvalidblock>
  <div>
    <p>Please fill in all the required field</p>
  </div>
</ng-template>

  </div>

  </div>

